* {
	margin: 0;
}

body {
	background: #FFFCF2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
	padding-top: 30px;
	clear: both;
	float: center;
}

#menu {
	width: 300px;
	float: left;
	padding: 0;
}

#menu a {
	text-decoration: none;
	color: black;
}

#menu a:hover {
	text-decoration: underline;
	color: black;
}

.cattop {
	padding-left: 30pt;
	padding-bottom: 10pt;
}

#name {
	font-size: 30pt;
	color: #575757;
}

#title {
	font-size: 12pt;
}

.cathead {
	font-size: 16pt;
	padding-left: 30pt;
	padding-bottom: 5pt;
	padding-top: 5pt;
	color: #575757;
	background: #EBEBEB;

}

.catbody {
	margin-bottom: 30pt;
	margin-top: 10pt;
	margin-left: 30pt;
}

.catbody ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catbody ul li {
	margin-right: 30pt;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 10px;
	border-bottom: 2px solid #EBEBEB;
}

.catbody table {
	margin-bottom: -15pt;
}

.catbody td {
	padding-left: 0pt;
	padding-right: 15pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}


#content {
	float: right;
	width: 650px;
	padding: 0;
}

.contentitem {
	padding-bottom: 20pt;
	text-align: justify;
}

.contenttitle {
	font-size: 18pt;
	color: #575757;
	padding-bottom: 4pt;
}

.contentsubtitle {
	color: #575757;
	padding-bottom: 15pt;
}

.contentbody p {
	padding-bottom: 4pt;
}

.contentbody a {
	text-decoration: none;
	color: black;
}

.contentbody a:hover {
	text-decoration: underline;
	color: black;
}

.contentactions {
	padding-top: 10pt;
	font-weight: bold;
}

.contentactions a {
	text-decoration: none;
	color: #575757;
}

.contentactions a:hover {
	text-decoration: underline;
}




