{% extends "base.html" %}
{% block content %}

<div class="contentitem">
	<div class="contenttitle">
		Artificial Intelligence
	</div>


	<div class="contentbody">
		<p>
			Group CB, Thursday, 10:00 - 11:30, room A1-14,15
		</p>

		<p>
			Group CD, Monday, 17:15 - 18:45, room A1-16,17
		</p>

		<p>
			Group CE, Wednesday, 10:00 - 11:30, room A0-1
		</p>
	</div>

	<div class="contentactions"><a href="http://www.staff.amu.edu.pl/~mkubis/dszi2014.html">More (in Polish)</a></div>
</div>

<div class="contentitem">
	<div class="contenttitle">
		Computer Application Basics
	</div>


	<div class="contentbody">
		<p>
			Group 2, Tuesday, 15:00 - 16:30, room 67
		</p>
	</div>

	<div class="contentactions"><a href="http://www.staff.amu.edu.pl/~mkubis/knif2014.html">More (in Polish)</a></div>
</div>


{% endblock %}
