{% extends "base_pl.html" %}
{% block content %}

<div class="contentitem">
	<div class="contenttitle">
		Technologie Aplikacji Serwerowych
	</div>

	<div class="contentbody">
		<p>
			wtorek, 13:45 - 15:15, sala A1-14,15
		</p>

		<p>
			wtorek, 15:30 - 17:00, sala A1-14,15
		</p>

		<p>
			czwartek, 8:15 - 9:45, sala A0-1
		</p>
	</div>


	<div class="contentactions"><a href="https://eduwiki.wmi.amu.edu.pl/mkubis/DTAS-2015">Szczegóły</a></div>
</div>

<div class="contentitem">
	<div class="contenttitle">
		Komunikacja Człowiek-Komputer
	</div>

	<div class="contentbody">
		<p>
			czwartek, 10:00 - 11:30, sala A0-1
		</p>
	</div>


	<div class="contentactions"><a href="https://eduwiki.wmi.amu.edu.pl/mkubis/DKCK-2015">Szczegóły</a></div>
</div>



{% endblock %}
