{% extends "base_pl.html" %}
{% block content %}

<div class="contentitem">
	<div class="contenttitle">
		Technologie aplikacji serwerowych
	</div>

	<div class="contentbody">
		<p>
			grupa 1CD, wtorek, 13:45 - 15:15, sala A1-14,15
		</p>
	
		<p>
			grupa 1CA, wtorek, 15:30 - 17:00, sala A1-14,15
		</p>

		<p>
			grupa 1CE, czwartek, 8:15 - 9:45, sala A0-1
		</p>
	
	</div>


	<div class="contentactions"><a href="http://www.staff.amu.edu.pl/~mkubis/dtas.html">Szczegóły</a></div>
</div>

<div class="contentitem">
	<div class="contenttitle">
		Komunikacja człowiek-komputer
	</div>

	<div class="contentbody">
		<p>
			grupa 1CB, czwartek, 10:00 - 11:30, sala A0-1
		</p>

		<p>
			grupa 1CF, piątek, 11:45 - 13:15, sala A1-14,15
		</p>
	</div>

	<div class="contentactions"><a href="http://www.staff.amu.edu.pl/~mkubis/dkck.html">Szczegóły</a></div>
</div>


{% endblock %}
