{% extends "base_pl.html" %}
{% block content %}

<div class="contentitem">
	<div class="contenttitle">
		Sztuczna Inteligencja
	</div>

	<div class="contentbody">
		<p>
			Grupa CB, czwartek, 10.00 - 11.30, sale A1-14,15
		</p>
	
		<p>
			Grupa CD, poniedziałek, 17.15 - 18.45, sale A1-16,17
		</p>

		<p>
			Grupa CE, środa, 10.00 - 11.30, sala A0-1
		</p>
	
	</div>


	<div class="contentactions"><a href="http://www.staff.amu.edu.pl/~mkubis/dszi2014.html">Szczegóły</a></div>
</div>

<div class="contentitem">
	<div class="contenttitle">
		Narzędzia Informatyki
	</div>

	<div class="contentbody">
		<p>
			Grupa 2, wtorek, 15.00 - 16.30, sala 67
		</p>
	
	</div>


	<div class="contentactions"><a href="http://www.staff.amu.edu.pl/~mkubis/knif2014.html">Szczegóły</a></div>
</div>


{% endblock %}
