{% extends "base.html" %}
{% block content %}

<div class="contentitem">
	<div class="contenttitle">
		Artificial Intelligence
	</div>


	<div class="contentbody">
		<p>
			Group 1CE, Monday, 15:30 - 17:00, room A1-24,25
		</p>

		<p>
			Group 1CD, Monday, 17:15 - 18:45, room A1-16,17
		</p>

		<p>
			Group 1CB, Thursday, 8:15 - 9:45, room A1-16,17
		</p>

		<p>
			Group 1CF, Thursday, 10:00 - 11:30, room A0-1
		</p>
	</div>

	<div class="contentactions"><a href="https://eduwiki.wmi.amu.edu.pl/mkubis/DSZI-2015">More (in Polish)</a></div>
</div>

{% endblock %}
