{% extends "base.html" %}
{% block content %}

{% for project in data.projects %}

<div class="contentitem">
    <div class="contenttitle">
    {{project.name}}
    </div>

    <div class="contentsubtitle">{{project.role}}, {{project.year}}</div>

    <div class="contentbody">
        <p>
        {{project.description}}
        </p>
    </div>

    {% if project.more is defined %}
    <div class="contentactions"><a href="{{project.more}}">More</a></div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
