{% extends "base.html" %}
{% block content %}
<div class="contentitem">
	<div class="contenttitle">
Scholarship support for Ph.D. students specializing in majors strategic for Wielkopolska’s development
	</div>

	<div class="contentsubtitle">Scholarship holder, 2011</div>

	<div class="contentbody">
		<p>
Project within Sub-measure 8.2.2 Human Capital Operational Programme, co-financed by European Union under the European Social Fund.
		</p>
	</div>

	<div class="contentactions"><a href="http://efs.wup.poznan.pl/att/stypendia/Marek_Kubis.pdf">More (in Polish)</a></div>
</div>

<div class="contentitem">
	<div class="contenttitle">
		Ontologia typu wordnet do zarządzania wiedzą w systemie obsługi ruchu turystycznego w mieście Poznań – CITTA (CITTA Ontology)
	</div>

	<div class="contentsubtitle">Researcher, 2010</div>

	<div class="contentbody">
		<p>
		Project within the program "Akademicki Poznań", financed by the City of Poznań grant RoM. V/3420-52/10 Fn 2625/10, managed by <a href="http://www.staff.amu.edu.pl/~vetulani/">Professor  Z. Vetulani</a>.
		</p>
	</div>
</div>

<div class="contentitem">
	<div class="contenttitle">
		Text processing technologies for Polish in application for public security purposes
	</div>

	<div class="contentsubtitle">Researcher, 2008-2010</div>

	<div class="contentbody">
		<p>
		Project of the Polish Platform for Homeland Security, financed by the Polish Government grant R0002802, managed by <a href="http://www.staff.amu.edu.pl/~vetulani/">Professor Z. Vetulani</a>.
		</p>
	</div>

	<div class="contentactions"><a href="http://www.ppbw.pl/ppbw/en-4.html">More</a></div>
</div>
{% endblock %}
